{% extends 'puzzle_app/layout.html' %}
{% load static %}
{% block title %} Create an account {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Display messages (success or error alerts) -->
{% if messages %}
    {% for message in messages %}
        <p class="alert alert-{{ message.tags }}">{{ message }}</p>
    {% endfor %}
{% endif %}

<form method="post">
{% csrf_token %}{{form|crispy}}
<button type="submit" class="btn btn-primary">Create an account </button>
</form>
<p>Already have an account? Log in <a href="{% url 'login' %}">here</a></p>

{% endblock %}